<div class="container">
    <mat-card>
        <div class="row">
            <div id="col-left" class="col-md-7">
                <img src="assets/astronaut.svg" alt="">
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-12">
                        <div id="text-hello">
                            <h2>Hello!</h2>
                            <h3>Good morning</h3>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div id="text-welcome" class="col-12">
                            <h2>Welcome</h2>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="max-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="email">
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="max-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <button class="max-width" mat-raised-button color="primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</div>