.container-welcome{
    display: flex;
    flex-flow: column;
    height: 100%;
    
}
p{        
    margin: auto;
    height: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 60px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 15ch;
    letter-spacing: 16px;
    animation: typing 2s steps(8), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blink{
    50% { border-color:  transparent;}
}