<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleActive()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button  routerLink="/main">
        Angular app
    </button>
    <span class="spacer"></span>    
    <button mat-icon-button style="margin-right: 40px;" [matMenuTriggerFor]="menu">
        nombre
        <mat-icon>person</mat-icon>
    </button>    
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        LogOut
    </button>
  </mat-menu>